
.main {
    background-color: black;
    height: 520px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: auto;
}
.screen {
    height: 110px;
    font-size: 0px;
    display: block; 
    margin: 10px auto;   
}
.previous-operand {
    display: inline-block;
    margin-top: 12px;
    margin-right: 5px;
    margin-left: 20px;
    background-color: lightgreen;
    height: 50px;
    width: 360px;
    font-size: 40px;
}

.current-operand {
    display: inline-block;
    margin-right: 5px;
    margin-left: 20px;
    background-color: lightgreen;
    height: 50px;
    width: 360px;
    font-size: 40px;
}

.buttons {
    display: grid;
    place-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 100px); 
}
button {
    background-color: darkgray;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 50px;
}

.clear {
    background-color: lightcoral;
}

.oper, .equal {
    background-color: lightskyblue;
}
